<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
    <style>
        .abc{
            background-color: aqua;
        }
        .whiteColor {
            color: white;
        }
    </style>
</head>
<body>

<div id="mvvm-app">
    <input type="text" v-model="someStr">
    <input type="text" v-model="child.someStr">

    <p>{{ getHelloWord }}</p>
    <button v-on:click="clickBtn">change model</button>

    <p v-class="className" class="abc">
        style text;
    </p>
    <p v-html="htmlStr"></p>

</div>
</body>
</html>